---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="Home">
  <div class="mx-auto text-center">
    <p>Lost?</p>
    <button class="rounded bg-blue-500 px-4 py-2 text-white">
      <a href="/">Go back home</a>
    </button>
  </div>
</BasicLayout>
